$primary-color: #2B2D42;
$secondary-color: #8D99AE;
$tertiary-color: #EDF2F4;
$font-stack: 'Nunito Sans', sans-serif;

form {
    max-width: 50%;
}

section#user {
    input#url {
        width: 97%;
        border: 1px solid $secondary-color;
        border-radius: 3px;
        padding: 5px 0px 5px 5px;
    }

    input {
        line-height: 16px;
        margin: 10px 0;
    }

    input#cta {
        border-radius: 30px;
        background-color: $primary-color;
        color: $tertiary-color;
        width: 120px;
        border: 0px;
        float: right;
        padding: 10px 0px;
    }

}
