
/*General Styles*/
body {
    font-family: 'Nunito', sans-serif;
    background-color: #E0EEF6;
    padding: 2%;
}

/*Main grid styles*/
#app {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title"
    "zip data"
    "feel data"
    "button data";
    justify-content: center;
    justify-items: start;
    align-items: center;
    grid-gap: 1em;
    background-color: #F5F4F5;
    font-size: 18px;
    color: #253031;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 3%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(37,48,49,0.56);
    -moz-box-shadow: 0px 6px 16px 0px rgba(37,48,49,0.56);
    box-shadow: 0px 6px 16px 0px rgba(37,48,49,0.56);
   
}

@media screen and (max-width: 980px) {
    #app {
        grid-template-columns: 50vw;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "title"
        "zip"
        "feel"
        "button"
        "data";
        grid-gap: 1em;
        width: 80%;
        height: 80%;
        padding: 5%;
    }
}

/*Grid areas*/
.headline {
    grid-area: title;
    margin: auto;
}

.zip {
    grid-area: zip;
    width: 50%;
}

.feel {
   grid-area: feel;
   width: 70%;
}

.entry {
    background: #fff;
    grid-area: data;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    padding: 5%;
    margin: auto;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 18px;
    width: 100%;
    padding-bottom: 3%;
}

input {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background:#fff;
    color: #253031;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-left: 10%;
}

h1 {
    font-size: 24px;
}

textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background:#fff;
    color: #253031;
    width: 100%;
    min-width: 135px;
    max-width: 250px;
    height: 50px;
    min-height: 20px;
    max-height: 100px;
    border: none;
    border-radius: 10px;
    padding: 5%;   
}

.title {
    font-size: 18px;
    opacity: 50%;
    padding-bottom: 3%;
}

/*UI Elements*/
#date, #temp, #content {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

/*Button*/
.push {
    grid-area: button;
    width: 100%;
    height: 80%;
    margin: auto;
}

button {
    font-size: 24px;
    background: #333333;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #444;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #253031; 
    font-family: 'Nunito', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #253031; 
    font-family: 'Nunito', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #253031; 
    font-family: 'Nunito', sans-serif;
} 