<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width", initial-scale=1.0>
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/projects/05-travel-app/src/client/styles/main.scss">
</head>
<body>
  <main id = "app">
    <header class ="holder headline">
      <h1>Travel App</h1>
    </header>
    <section class ="holder city">
      <label for="city">Destination<label>
      <input type="text" id="city" placeholder="Enter your destination here">
    </section>
    <section class ="holder feel">
      <label for="feelings">How do you fell?</label>
      <textarea class= "myInput" id="feelings" placeholder="Enter your feelings"></textarea>
    </section>
    <section class = "push">
      <button id="generate" type = "submit"> Go! </button>
    </section>  
    <section class ="holder entry">
      <div class = "title">Most Recent Entry</div>
      <div id = "entryHolder">
        <div id = "date"></div> 
        <div id = "temp"></div>
        <div id = "content"></div>
      </div>
    </section>
  </main>
  <script src="/projects/05-travel-app/src/client/js/app.js" type="text/javascript"></script>
</body>
</html>