<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width", initial-scale=1.0>
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/projects/05-travel-app/src/client/styles/main.scss">
</head>
<body>
  <main id="app">
    <header class="holder headline">
      <h1>Travel App</h1>
    </header>
    <section class="holder dep">
      <label for="departure">Where are you?<label>
      <input type="text" id="from" placeholder="..." required>
    </section>
    <section class="holder dest">
      <label for="destination">Where do you go?</abel>
      <input type="text" id="to" placeholder="..." required>
    </section>
    <section class="holder departure">
      <label for="date">When do you leave?</label>
      <input type="date" class= "myInput" id="date-departure" required>
    </section>
    <section class="push">
      <button id="generate" type="submit">GO!</button>
    </section>  
    <section class="holder entry" id="trip-section">
      <div class="title" id="trip">Your trip</div>
      <div id="entryHolder" class="card">
        <div id="trip-img_container">
          <div id="trip-img" class="dynamic"></div>
        </div>
        <div id="trip-info_container">
          <div id="trip-from" class="dynamic"></div> 
          <div id="trip-dest" class="dynamic"></div>
          <div id="trip-date" class="dynamic"></div>
          <div id="trip-days" class="dynamic"></div>
          <div id="trip-weather" class="dynamic"></div>
        </div> 
      </div>
    </section>
  </main>
  <script src="/projects/05-travel-app/src/client/js/app.js" type="text/javascript"></script>
</body>
</html>