
/* general styles */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #E0EEF6;
    padding: 2%;
    font-size: 18px;
    color: #253031;
}

h2 {
    font-size: 20px;
    margin: auto;
}

/* main grid styles */
#app {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas:
    "1a 1b 1c title title 1f 1g 1h"
    "2a dep dep dest dest date date 2h"
    "3a btn btn btn btn btn btn 3h"
    "4a card-weather card-weather card-weather card-trip card-trip card-trip 4h"
    "5a card-weather card-weather card-weather card-trip card-trip card-trip 5h"
    "6a card-show card-show card-show card-news card-news card-news 6h"
    "7a card-show card-show card-show card-news card-news card-news 7h";
    justify-content: center;
    justify-items: start;
    align-items: flex-start;
    grid-gap: 1em;
    background-color: #F5F4F5;
    margin: auto;
    padding: 3%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(37,48,49,0.56);
    -moz-box-shadow: 0px 6px 16px 0px rgba(37,48,49,0.56);
    box-shadow: 0px 6px 16px 0px rgba(37,48,49,0.56);
}

/* grid areas */
.headline {
    grid-area: title;
    margin: auto;
}

.holder.dep {
    grid-area: dep;
    width: 100%;
}

.holder.dest {
    grid-area: dest;
    width: 100%;
}

.holder.departure {
   grid-area: date;
   width: 100%;
}

#trip-section {
    background: #fff;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    padding: 5%;
    margin: auto;
}

#card-weather {
    grid-area: card-weather;
}

#card-data {
    grid-area: card-trip;
}

#card-events {
    grid-area: card-show;
}

#card-news {
    grid-area: card-news;
}

/*  basic styling to override default for basic HTML elements */
label {
    display: block;
    font-size: 18px;
    width: 100%;
}

input {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background:#fff;
    color: #253031;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
}

textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background:#fff;
    color: #253031;
    width: 100%;
    min-width: 135px;
    max-width: 250px;
    height: 50px;
    min-height: 20px;
    max-height: 100px;
    border: none;
    border-radius: 10px;
    padding: 5%;   
}

.title {
    font-size: 18px;
    opacity: 50%;
    padding-bottom: 3%;
}

/* UI elements */
#date, #temp, #content {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

/* button */
.push {
    grid-area: btn;
    width: 100%;
    height: 100%;
    margin: auto;
}

button {
    font-size: 24px;
    background: #333333;
    color: #fff;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #444;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

/* reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* style for placeholder text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #253031; 
    font-family: 'Nunito', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #253031; 
    font-family: 'Nunito', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #253031; 
    font-family: 'Nunito', sans-serif;
} 

/* style of dynamic content */

img {
    max-width: 150px;
    margin-right: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media only screen and (max-width: 980px) {
    #app {
        grid-template-columns: repeat(4,1fr);
        //grid-template-rows: repeat(8,1fr);
        grid-template-areas:
        "1a title title 1c"
        "dest dest dest dest"
        "dep dep date date"
        "btn btn btn btn"
        "card-weather card-weather card-weather card-weather"
        "card-trip card-trip card-trip card-trip"
        "card-show card-show card-show card-show"
        "card-news card-news card-news card-news";
        grid-gap: 1em;
        padding: 5%;
    }

    input {
        width: 100%;
    }
}
